Source: hybris-mobian-quirks
Maintainer: Giuseppe Corti (r3vn) <giuseppe.corti@protonmail.com>
Section: misc
Priority: optional
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/hybris-mobian/hybris-mobian-quirks
Vcs-Git: https://github.com/hybris-mobian-releng/hybris-mobian-quirks.git

Package: hybris-mobian-quirks-remount-root-rw
Architecture: all
Depends: ${misc:Depends}
Description: Remount / as rw via (dirty) systemd unit.

Package: hybris-mobian-quirks-writable-image
Architecture: all
Depends: ${misc:Depends}
Description: Dotfile required to mount rootfs as rw on halium based adaptations

Package: hybris-mobian-quirks-calls-config-ofono
Architecture: all
Pre-Depends: gnome-calls, ofono
Depends: ${misc:Depends}
Description: Calls app's config for ofono plugin
 This package contains configuration files required to start "Calls" on ofono backend

Package: hybris-mobian-quirks-hybris-gl
Architecture: all
Depends: ${misc:Depends}
Description: Various quirks to make GL apps happy
 This package contains various quirks required to make some
 GL apps properly working.
