Source: droidian-quirks
Maintainer: Giuseppe Corti (r3vn) <giuseppe.corti@protonmail.com>
Section: misc
Priority: optional
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/droidian/droidian-quirks
Vcs-Git: https://github.com/droidian-releng/droidian-quirks.git

Package: droidian-quirks-wayland
Architecture: all
Depends: ${misc:Depends}
Description: Various wayland tweaks
Conflicts: mobile-tweaks-common

Package: droidian-quirks-squeekboard
Architecture: all
Depends: ${misc:Depends}
Description: Set squeekboard dark theme
  This package contains a desktop entry to start squeekboard-restyled instead of squeekboard
Conflicts: mobian-tweaks-common

Package: droidian-quirks-remount-root-rw
Architecture: all
Depends: ${misc:Depends}
Breaks: hybris-mobian-quirks-remount-root-rw (<< 10+git20210325000000)
Replaces: hybris-mobian-quirks-remount-root-rw (<< 10+git20210325000000)
Description: Remount / as rw via (dirty) systemd unit.

Package: droidian-quirks-writable-image
Architecture: all
Depends: ${misc:Depends}
Breaks: hybris-mobian-quirks-writable-image (<< 10+git20210325000000)
Replaces: hybris-mobian-quirks-writable-image (<< 10+git20210325000000)
Description: Dotfile required to mount rootfs as rw on halium based adaptations

Package: droidian-quirks-calls-config-ofono
Architecture: all
Pre-Depends: gnome-calls (>= 0.3.4+git20210810222612), ofono
Depends: ${misc:Depends}
Breaks: hybris-mobian-quirks-calls-config-ofono (<< 10+git20210325000000)
Replaces: hybris-mobian-quirks-calls-config-ofono (<< 10+git20210325000000)
Description: Calls app's config for ofono plugin
 This package contains configuration files required to start "Calls" on ofono backend

Package: droidian-quirks-hybris-gl
Architecture: all
Depends: ${misc:Depends}
Breaks: hybris-mobian-quirks-hybris-gl (<< 10+git20210325000000)
Replaces: hybris-mobian-quirks-hybris-gl (<< 10+git20210325000000)
Description: Various quirks to make GL apps happy
 This package contains various quirks required to make some
 GL apps properly working.

Package: droidian-quirks-qt-force-gles
Architecture: all
Depends: ${misc:Depends}
Breaks: hybris-mobian-quirks-qt-force-gles (<< 10+git20210325000000)
Replaces: hybris-mobian-quirks-qt-force-gles (<< 10+git20210325000000)
Description: Package pin for libqt5gui5 and libqt5quick5
 Disallow installation of libqt5gui5 and libqt5quick5, so that APT will fallback to libqt5gui5-gles and libqt5quick5-gles instead.

Package: droidian-quirks-journald-standard
Architecture: all
Pre-Depends: systemd
Depends: ${misc:Depends}
Conflicts: droidian-quirks-journald-development
Provides: droidian-quirks-journald
Description: Journald configuration for standard Droidian installations
 This package provides the journald configuration for standard
 (non-development) Droidian installations.

Package: droidian-quirks-journald-development  
Architecture: all
Pre-Depends: systemd
Depends: ${misc:Depends}
Conflicts: droidian-quirks-journald-standard
Provides: droidian-quirks-journald
Description: Journald configuration for development Droidian installations
 This package provides the journald configuration for development
 Droidian installations.

Package: droidian-quirks-device
Architecture: all
Pre-Depends: systemd
Depends: ${misc:Depends},
         halium-wrappers,
Breaks: droidian-quirks-wlan-wcnss (<< 17+git20210724090000)
Replaces: droidian-quirks-wlan-wcnss (<< 17+git20210724090000)
Description: Various quirks to enable device features at boot
 This package provides various quirks to enable some device features (e.g
 WLAN). You can safely leave this package installed -- if there is nothing
 to enable, the unit files will be skipped.

Package: droidian-quirks-tls-padding
Architecture: all
Depends: libtls-padding0
Description: Quirk to preload libtls-padding
 This package provides a quirk to allow preloading libtls-padding.

Package: droidian-quirks-wlan-wcnss
Architecture: all
Pre-Depends: systemd
Depends: droidian-quirks-device
Description: Quirks to enable WLAN on devices with qcom prima -- transitional package
 This package is a transitional package. Feel free to
 remove it.

Package: hybris-mobian-quirks-remount-rw
Architecture: all
Depends: droidian-quirks-remount-root-rw
Description: Remount / as rw via (dirty) systemd unit -- transitional package
 This package is a transitional package. Feel free to
 remove it.

Package: hybris-mobian-quirks-writable-image
Architecture: all
Depends: droidian-quirks-writable-image
Description: Dotfile required to mount rootfs as rw on halium based adaptations -- transitional package
 This package is a transitional package. Feel free to
 remove it.

Package: hybris-mobian-quirks-calls-config-ofono
Architecture: all
Depends: droidian-quirks-calls-config-ofono
Description: Calls app's config for ofono plugin -- transitional package
 This package is a transitional package. Feel free to
 remove it.

Package: hybris-mobian-quirks-hybris-gl
Architecture: all
Depends: droidian-quirks-hybris-gl
Description: Various quirks to make GL apps happy -- transitional package
 This package is a transitional package. Feel free to
 remove it.

Package: hybris-mobian-quirks-qt-force-gles
Architecture: all
Depends: droidian-quirks-qt-force-gles
Description: Package pin for libqt5gui5 and libqt5quick5 -- transitional package
 This package is a transitional package. Feel free to
 remove it.
