[Unit]
Description=Disable lowmemorykiller
Requires=lxc@android.service
After=lxc@android.service

[Service]
Type=oneshot
ExecStart=/usr/bin/droidian-lmk-disable.sh

[Install]
# FIXME: multi-user.target is not the right target for this, but
# we're bound on the lxc container's target.
WantedBy=multi-user.target
