#!/usr/bin/make -f

%:
	dh $@

override_dh_installsystemd:
	dh_installsystemd --no-start --name=droidian-wcnss-enable
	dh_installsystemd --no-start --name=droidian-boot-wlan
	dh_installsystemd --no-start --name=droidian-ipa-enable
