#  SPDX-License-Identifier: LGPL-2.1-or-later
#
#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.
#
# Edited for Droidian usage since systemd doesn't support dependency reorder
# via drop-ins.

[Unit]
Description=Load/Save Screen Backlight Brightness of %i
Documentation=man:systemd-backlight@.service(8)
DefaultDependencies=no
Conflicts=shutdown.target
After=lxc@android.service android-service@hwcomposer.service droidian_boot_completed.service
Requires=droidian_boot_completed.service
Before=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/lib/systemd/systemd-backlight load %i
ExecStop=/usr/share/droidian-quirks/brightness/droidian-save-brightness.sh save %i
TimeoutSec=90s
StateDirectory=systemd/backlight

[Install]
WantedBy=graphical.target
